**/.DS_Store
**/__pycache__/
test_data/*
models/ckpts/*
*.log
*.pt
*.pth
*.log
*.bin
*.out
*.err
csv/*
temp/*
scripts/extract_feature/completed/*
scripts/extract_feature/logs/*
scripts/extract_feature_local
scripts/crop_image_local
scripts/get_coors_local
slurm_scripts/